<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Field Picture</th>
      <th scope="col">Field Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each fields}}
    <tr>
      <th scope="row">{{@index}}</th>
      <th><img src="{{fieldPicture}}" width="100" height="auto" alt=""></th>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td><a href="admin/delete/{{_id}}" class="btn btn-danger">Delete</a></td>

    </tr>
    {{/each}}
    
  </tbody>
</table>